
#title {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 4em;
  color: white;
  font-family: "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 10px 10px 15px #000000;
}
.sTitle {
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-left: 10px;
  border-top: 0px;
  margin-top:0px;
  font-family: "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 8px 8px 10px #000000;
}
#bg {
  margin-top: 0px;
  height: 50rem;
  vertical-align: middle;
  background-image: url("./../static/foodpost.jpeg");
  background-size: cover;
}
.intro .content{
  font-size: 30px;
  background-color: burlywood;
  color: white;
  text-align: center;
  padding: 50px 20px;
  border-top: 0px;
  height: 280px;
  margin: 100px 0px;
  font-family: "Roboto";
  border-radius: 25px;
}
.intro {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}
.signupsection {
  background-color: rgb(252, 245, 237);
  height: 20rem;
  text-align: center;
}

.intro .postimg{
  background-color: white;
  text-align: center;
  padding: 50px 20px;
  border-top: 0px;
  height: 280px;
  margin: 100px 0px;
}

.signupbtn {
  background-color: burlywood !important;
  border-color: burlywood !important;
  margin-top: 50px;
  color: white;
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center;
  height:80px;
  border-radius: 10px;
}

#user{
  vertical-align: middle;
}
.username{
  font-size: 40px;
  color: black;
  text-align: center;
  border-top: 0px;
  height: 0px;
  font-weight: bold !important;
  margin: 80px 0px;
  font-family: "Roboto";
  border-radius: 25px;
}
.title{
  background-color: burlywood !important;
  border-color: burlywood !important;
  margin-top: 50px;
  color: white;
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center;
  height:70px;
  border-radius: 10px;
}