.fixedbutton {
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -200px;
  background-color: burlywood !important;
  border-color: burlywood !important;
  color: white;
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center;
  height:80px;
  width: 400px;
  border-radius: 10px;
}

.mainpage {
  text-align: center;
  margin: 30px 100px;
}

.main-bg {
  margin-bottom: 100px;
}
